@model MikoBussEntityLayer.Ticket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketNereden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketNereden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketNereye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketNereye)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketSeatNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketSeatNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuzergahId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuzergahId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
