@model EntityLayer.Category

<h1>Yeni Category Ekleme Sayfam</h1>

@*<form class="form-group" method="post">
    <input type="text" placeholder="KategoriAdı" name="CategoryName" />
    <input type="text" placeholder="Açıklama" name="CategoryDescription" />

    <button class="btn btn-primary">ekle</button>
</form>*@

@using (Html.BeginForm("addCategory","Category",FormMethod.Post))
{ 
<div class="form-group">
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName)
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br /> <br />
    @Html.Label("Açılamayı Yazınız")
    @Html.TextBoxFor(x => x.CategoryDescription)
    @Html.ValidationMessageFor(x => x.CategoryDescription)

    <br /> <br />
    <button>Kaydet</button>
</div>
}